.hdf5
*.hdf5
runpod/finetune_run_20231203_0019_success/fd1f33d0919411ee8fd00242ac170002.test.hdf5
runpod/finetune_run_20231203_0019_success/fd1f33d0919411ee8fd00242ac170002.training.hdf5
runpod/finetune_run_20231203_0019_success/fd1f33d0919411ee8fd00242ac170002.validation.hdf5
runpod/finetune_run_20231203_0019_success/results/api_experiment_run/model/logs/*
runpod/finetune_run_20231203_0019_success/results/api_experiment_run/model/logs/training/events.out.tfevents.1701578130.7c9871fbc3fc.313.0
.ckpt
*.ckpt
.zip 
*.zip
.npy
*.npy
.parquet
*.parquet

runpod/zeroshot_inference_20231205_0840_success/results/simple_experiment_zero_shot/description.json
runpod/zeroshot_inference_20231205_0840_success/results/simple_experiment_zero_shot/model/logs/test/events.out.tfevents.1701754446.0f7f59cddf72.556.2
runpod/zeroshot_inference_20231205_0840_success/results/simple_experiment_zero_shot/model/logs/training/events.out.tfevents.1701754446.0f7f59cddf72.556.0
runpod/zeroshot_inference_20231205_0840_success/results/simple_experiment_zero_shot/model/logs/validation/events.out.tfevents.1701754446.0f7f59cddf72.556.1
